<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Homelab Wrapped{% endblock %}</title>
  {% block styles %}<link rel="stylesheet" href="/static/hw.css">{% endblock %}
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
